li > a {
    color: black !important;
}

h1 {
    font-size: 2rem;
    margin-top: 2rem;
}

.uk-container {
    position: absolute;
    top: 20%;
    width: 100%;
    max-width: 100%;
    padding: 0;
    align-items: center;
}

.uk-card-default {
    border-radius: 15px;
}

.about-card {
    max-width: 756px;
}

.port-card {
    min-height: 340px;
}
