<div class="uk-position-relative">
    <img src={{url_for('static', filename='ethan-robertson-134952-unsplash-min.jpg')}} id="bkgpic" alt="picture of a cool dude">
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a href={{url_for('serveHomePage')}}>
                            <div class="uk-width-auto">
                                <img alt="round profile" class="uk-border-circle" width="40" height="40" src={{url_for('static', filename='V9H2222Jon.jpg')}}>
                            </div>
                        </a>
                    </li>
                    <li><a href={{url_for('serveAboutPage')}}>About</a></li>
                    <li>
                        <a href={{url_for('servePortfolioPage')}}>Portfolio</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>