{% extends "layout.html" %}
{% block portfolio %}
    <div class="uk-container uk-flex uk-flex-column uk-container-expand">
        <div class="uk-child-width-1-5@m" uk-grid>
            <div></div>
            <div>
                <div class="uk-card uk-card-default port-card">
                    <div class="uk-card-media-top">
                        <img src="static\fancycrave.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Top</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default port-card">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Bottom</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="static\fancycrave.jpg" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default port-card">
                    <div class="uk-card-media-top">
                        <img src="static\fancycrave.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Bottom</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </div>
{% endblock %}